@import "../constants/gutters.scss";
@import "../constants/color.scss";
@import "../constants/sizing.scss";

.flex {
  display: flex;
}
.wrapper {
  display: flex;
  margin: -8px auto 32px;
  padding: 0 16px;
  max-width: $maxPageWidth;
  flex-flow: column nowrap;
}

.header {
  order: 1;
}

.menuNav {
  order: 2;
}

.routerContent {
  order: 3;
}

footer {
  margin-top: 70%;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.testbutton {
  margin: 5px;
  width: 150px;
  height: 25px;
}

.texFlex {
  justify-content: space-between;
  width: 250px;
}
