@import "../constants/gutters.scss";
@import "../constants/color.scss";

.main-gutter {
  column-gap: $MAIN_GUTTER_WIDTH;
}

.half-gutter {
  column-gap: $MAIN_GUTTER_WIDTH/2;
}

.double-gutter {
  column-gap: $MAIN_GUTTER_WIDTH * 2;
}

.content {
  display: flex;
  //margin: 82px auto 32px;
  //padding: 0 16px;
  //max-width: 1180px;
  flex-flow: row wrap;
}

.item {
  flex-grow: 4;
}
header {
  order: 1;
}

.menuNav {
  order: 2;
}

.routerContent {
  order: 3;
}

footer {
  margin-top: 70%;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.testbutton {
  margin: 5px;
  width: 150px;
  height: 25px;
}
