@import "../../../constants/color.scss";

.shoppingCartComponentAspects {
  padding: 2px;
  color: $secondary;
}

.itemPositioning {
  position: absolute;
}

section {
  display: flex;
  align-items: center;
  justify-content: right;
}
