@import "../../../../constants/color.scss";

.iconColor {
  &--header {
    fill: $secondary;
  }
  &--footer {
    fill: $white;
  }
}

.iconSize {
  width: var(--icon-size);
  height: var(--icon-size);
}
