@import "../../../constants/color.scss";

::placeholder {
  color: var(--box-text);
}

.searchBox {
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  color: var(--box-text);
  background-color: var(--box-background);
  width: 225px;
}
.searchBox:focus {
  outline: none;
}

.searchBoxArea {
  margin-left: 40px;
  width: 250px;
  border-bottom: 1px solid var(--box-bottom-line);
}
