@import "../../../constants/color.scss";

.searchBox {
  &-primary {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    width: 225px;
    background-color: transparent;
  }
  &--header {
    color: $secondary;
    &::placeholder {
      color: $secondary;
    }
  }
  &--footer {
    color: $white;
    &::placeholder {
      color: $white;
    }
  }
  &:focus {
    outline: none;
  }
}

.searchBoxArea {
  &-primary {
    margin-left: 40px;
    width: 250px;
  }
  &--header {
    border-bottom: 1px solid $primaryDark;
  }
  &--footer {
    border-bottom: 1px solid $horizontalLine;
  }
}
