<div>
  <h4>Testing Getting Data From The Best Buy API</h4>

  <div *ngFor="let product of testResults">
    <div>
      <img src="{{ product.image }}" alt="{{ product.name }}" />
    </div>
    <div>
      <label class="labelBold">Name: </label>{{ product.name }}&nbsp;&nbsp;
      <label class="labelBold">Customer Review Average: </label
      >{{ product.customerReviewAverage }}
    </div>
    <div>
      <label class="labelBold">Customer Review Count: </label
      >{{ product.customerReviewCount }}
    </div>
    <div>
      <label class="labelBold">Sale Price: </label>{{ product.salePrice }}
    </div>
    <div>
      <label class="labelBold">Regular Price: </label>{{ product.regularPrice }}
    </div>
  </div>

  <div>
    <button [routerLink]="['/']">Home</button>
  </div>
</div>
