<div class="flex headerMain">
  <div class="topHeader">
    <div class="flex topHeader2">
      <app-logo class="logoItem"></app-logo>
      <div class="veritcalLine"></div>
      <app-search class="flex searchItem"></app-search>
      <app-shopping-cart class="flex shoppingCartItem"></app-shopping-cart>
    </div>
  </div>
  <div class="bottomheader">
    <app-vertical-dropdown-menu
      class="mainLeftGutter"
      menuTitle="PRODUCTS"
      [menuItems]="menuItems"
      (mouseenter)="exitCarosel(exitingMenuButton, true)"
      *ngIf="displayCategoryMenu"
    ></app-vertical-dropdown-menu>
    <div class="noContentMessage" *ngIf="!displayCategoryMenu">
      <span>{{ noResultsMessage }}</span>
    </div>
    <app-template-driven-dropdown-menu
      class="mainLeftDoubleGutter"
      menuTitle="RECENTLY VIEWED"
      (dataChoice)="getProductSelection($event)"
      (exitMenu)="exitCaroselMenu($event)"
    ></app-template-driven-dropdown-menu>
    <app-template-driven-dropdown-menu
      class="mainLeftDoubleGutter"
      menuTitle="SAVED ITEMS"
      (dataChoice)="getProductSelection($event)"
      (exitMenu)="exitCaroselMenu($event)"
    ></app-template-driven-dropdown-menu>
  </div>
  <div class="carouselMenu" *ngIf="displayProductsCarousel">
    <app-product-display-portal
      [productData]="productData"
      carouselID="mainCarousel"
      [errorMessage]="noResultsMessage"
      (mouseleave)="exitCarosel(exitingMenuButton, true)"
    ></app-product-display-portal>
  </div>
</div>
