@import "../../../constants/color.scss";

.flex {
  display: flex;
}
.headerMain {
  height: 102px;
  align-items: center;
  flex-direction: column;
}

.topHeader {
  width: 100%;
  background-color: $white;
  color: $secondary;
  margin-bottom: 2px;
  flex: 3;
}

.topHeader2 {
  align-items: center;
}
.logoItem {
  justify-content: flex-start;
}

.veritcalLine {
  height: 30px;
  margin-left: 40px;
  border-left: 1px solid $verticalLine;
}

.searchItem {
  flex: 1;
  justify-content: flex-start;
}

.shoppingCartItem {
  margin-right: 5px;
  justify-content: flex-end;
  flex: 1;
}

.bottomheader {
  width: 100%;
  background-color: $secondary;
  flex: 2;
}
