<div class="flex headerMain">
  <div class="topHeader">
    <div class="flex topHeader2">
      <app-logo class="logoItem"></app-logo>
      <div class="veritcalLine"></div>
      <app-search class="flex searchItem"></app-search>
      <app-shopping-cart class="flex shoppingCartItem"></app-shopping-cart>
    </div>
  </div>
  <div class="bottomheader">
    <app-vertical-dropdown-menu
      menuTitle="PRODUCTS"
      [menuItems]="menuItems"
    ></app-vertical-dropdown-menu>
    <app-template-driven-dropdown-menu
      menuTitle="RECENTLY VIEWED"
      (dataChoice)="getProductSelection($event)"
    ></app-template-driven-dropdown-menu>
    <app-template-driven-dropdown-menu
      menuTitle="SAVED ITEMS"
      (dataChoice)="getProductSelection($event)"
    ></app-template-driven-dropdown-menu>
  </div>
  <div *ngIf="displayProductsCarousel">
    <app-product-display-portal
      [productData]="productData"
      carouselID="mainCarousel"
    ></app-product-display-portal>
  </div>
</div>
