@import "../../../constants/color.scss";
@import "../../../constants/gutters.scss";

.flex {
  display: flex;
}
.headerMain {
  height: 100px;
  align-items: center;
  flex-direction: column;
}

.topHeader {
  width: 100%;
  background-color: $white;
  color: $secondary;
  margin-bottom: 2px;
  flex: 3;
}

.topHeader2 {
  align-items: center;
}
.logoItem {
  margin-left: $mainGutter;
  justify-content: flex-start;
}

.veritcalLine {
  height: 30px;
  margin-left: 40px;
  border-left: 1px solid $verticalLine;
}

.searchItem {
  flex: 1;
  justify-content: flex-start;
}

.shoppingCartItem {
  margin-right: $mainGutter;
  justify-content: flex-end;
  flex: 1;
  color: $secondary;
}

.bottomheader {
  width: 100%;
  background-color: $secondary;
  flex: 2;
}

.carouselMenu {
  margin-top: 1px;
  z-index: 2;
}

.mainLeftGutter {
  margin-left: $mainGutter;
}

.mainLeftDoubleGutter {
  margin-left: $doubleGutter;
}

.noContentMessage {
  display: block;
  position: absolute;
  margin-top: 2px;
  background-color: $white;
  font-size: 16px;
  width: max-content;
  padding: 15px 20px 15px 20px;
  left: -30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
