<div class="flex headerMain">
  <div class="topHeader">
    <div class="flex topHeader2">
      <app-logo class="logoItem"></app-logo>
      <div class="veritcalLine"></div>
      <app-search class="flex searchItem"></app-search>
      <app-shopping-cart class="flex shoppingCartItem"></app-shopping-cart>
    </div>
  </div>
  <div class="bottomheader">
    <app-template-driven-dropdown-menu
      menuTitle="RECENTLY VIEWED"
      [productData]="productsData"
    ></app-template-driven-dropdown-menu>
    <app-vertical-dropdown-menu
      menuTitle="Products"
      [menuItems]="menuItems"
    ></app-vertical-dropdown-menu>
  </div>
</div>
