/* You can add global styles to this file, and also import other style files */
@import "./constants/color.scss";

.flex {
  display: flex;
}

body {
  background-color: $primary;
  color: $white;
  font: 400 12px Arial;
  margin-bottom: 0px;
}
