---
---

@import "{{ site.theme }}";

$gutter: 20px;

a {
  &:hover {
    font-weight: normal;
    text-decoration: underline;
  }
}

#sidebar-nav {
  margin: $gutter 0;

  a {
    display: block;

    &:before {
      content: "•";
      padding-right: 6px;
    }
  }
}
