$primary: #032c48; // blue
$primaryLight: #798e9c; // light blue
$primaryDark: #071b2b;
$horizontalLine: #0c263d;
$secondary: #e90c31; // red
$secondaryLight: #e28e9c;
$white: #ffffff;
$menuText: #000000;
$menuHover: #d10c2c; // darker red
$verticalLine: #eceef1;
$heroTint: rgba(136, 46, 46, 0.5);
$grey: #d1cbcb;
