@import "../../../../constants/color.scss";

.template-drop-menu {
  display: inline-block;
  position: relative;
}

.drop-menu-button {
  display: inline-block;
  position: relative;
  background-color: $secondary;
  color: $white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.drop-menu-button:focus {
  outline: none;
}

.drop-menu-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.template-drop-menu:hover .drop-menu-content {
  display: grid;
}

.template-drop-menu:hover .drop-menu-button {
  background-color: $menuHover;
}
