@import "../../../../constants/color.scss";

::placeholder {
  color: $secondary;
}

.searchBox {
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  color: $secondary;
  width: 225px;
}
.searchBox:focus {
  outline: none;
}

.searchBoxArea {
  margin-left: 40px;
  width: 250px;
  border-bottom: 1px solid black;
}
