@import "../../../../constants/color.scss";
@import "../../../../constants/gutters.scss";
@import "../../../../constants/sizing.scss";

.homeMain {
  color: $white;
  flex-flow: column nowrap;
}

.carouselRegion {
  margin-top: 30px;
  flex-flow: column nowrap;
  gap: 20px;
}

.productCarouselDisplay {
  margin-left: $mainGutter+10px !important;
}

.smallrect {
  position: relative;
  width: 50px;
  height: 7px;
  margin-bottom: 10px;
  background-color: $secondary;
}

.productsCarouselTitle {
  margin-bottom: 30px;
  font-size: large;
}

.carousel {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lowerSection {
  margin-top: $mainGutter;
  width: $maxPageWidth + $doubleGutter * 2;
  height: 400px;
  position: relative;
  left: -$doubleGutter * 2;
}
