@import "../../../../constants/color.scss";

.homeText {
  color: $white;
}

.carouselRegion {
  margin-top: 30px;
  flex-flow: column nowrap;
  gap: 20px;
}

.productCarouselDisplay {
  margin-top: 20px;
  margin-bottom: 20px
}

.smallrect {
  position: relative;
  width: 50px;
  height: 7px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: $secondary;
}

.productsCarouselTitle {
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: large;
}

.carousel {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}
