<div class="megaImageBackground">
  <app-hero-image></app-hero-image>
  <div class="flex heroDisplayContent">
    <div>
      <div class="flex heroTextContent">
        <span class="heroLargeText">CURVED 4K SMART TVs</span>
        <span class="heroSmallText"
          >Experience the action and drama like never before.</span
        >
        <app-button
          buttonTextCase="upper"
          buttonClass="ovalRedText"
          buttonText="shop now"
          buttonLink="home"
        ></app-button>
      </div>
    </div>
    <div class="flex displayTVImageBacking">
      <img class="displayTVImage" src="{{ displayTVImage }}" />
    </div>
  </div>
</div>
