<div class="megaImageBackground">
  <app-hero-image></app-hero-image>
  <div class="flex heroDisplayContent">
    <div>
      <div class="flex heroTextContent">
        <span class="heroLargeText">CURVED 4K SMART TVs</span>
        <span class="heroSmallText"
          >Experience the action and drama like never before.</span
        >
        <app-button
          buttonTextCase="upper"
          buttonClass="ovalRedText"
          buttonText="shop now"
          buttonLink="home"
        ></app-button>
      </div>
    </div>
    <div class="flex displayTVImageBacking">
      <img class="displayTVImage" src="{{ displayTVImage }}" />
    </div>
  </div>
</div>
<div class="flex purchasePerksMain">
  <div class="flex">
    <app-free-shipping-icon iconSize="4x"></app-free-shipping-icon>
    <div class="flex wording">
      <span class="bigWording">FREE SHIPPING</span>
      <span class="smallWording">on every order</span>
    </div>
  </div>
  <div class="flex">
    <app-zero-percent-financing-icon
      iconSize="4x"
    ></app-zero-percent-financing-icon>
    <div class="flex wording">
      <span class="bigWording">0% Financing</span>
      <span class="smallWording">on select products</span>
    </div>
  </div>
  <div class="flex">
    <app-free-tech-support-icon iconSize="4x"></app-free-tech-support-icon>
    <div class="flex wording">
      <span class="bigWording">Free Tech Support</span>
      <span class="smallWording">on all products</span>
    </div>
  </div>
</div>
